<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    
    <body class="container">
        <header>
            <h1　class="display-4"><%= title %></h1>
        </header>
        <div role="main">
            <% if (content !== null) { %>
            <ol>
                <% for(let i in content) { %>
                <% const obj = content[i]; %>
                <li>
                    <a href="<%= obj.link %>">
                        <%= obj.title %>
                    </a>
                <% } %>
                </li>
            </ol>
            <% } %>
        </div>
    </body>
</html>
