<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title><%=title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    
    <body class="container">
        <headre>
            <h1 class="display-4"><%=title %></h1>
        </headre>
        <div role="main">
            
            <p><%=content %></p>
            
            <% let id = 0; %>
            <% for (let key in data) { %>
            <%-include("data_item_list3-9", {id: ++id, key, val:[data[key]]}); %>
            <% } %>

        </div>
    </body>
</html>
